<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
	<listeners>
		<listener class-name="extendreport.ExtentTestreport"></listener>
	</listeners>
		
	 <parameter name="uid"  value="raju"/>
    <parameter name="pwd"  value="ravi"/>
    
	 <test name="testng report">
    <classes>
       <class name="testng.Annotations"/>
      <class name="testng.Dataprovider"/>
      <class name="testng.KeywordsAnnotations"/>
    </classes>
	 </test>
	
	</suite>
