<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
		
	 <parameter name="uid"  value="raju"/>
    <parameter name="pwd"  value="ravi"/>
    
	 <test name="testng report">
    <classes>
       <class name="com.testng.Annotations"/>
      <class name="com.testng.Dataprovider"/>
      <class name="com.testng.KeywordsAnnotations"/>
    </classes>
	 </test>
	
	</suite>
